section.categories
    .container
        h1 Doporučené kategorie
        .categories__grid
 
            a.categories-single(href="/produkt-vypis.html")
                img.lazyload(src="img/load-symbol.svg" data-src="img/category-thumb-medium.png" alt="" title="")
                .categories-single__content
                    h3.categories-single__link Dřevěné krabičky
                    p.categories-single__text Dřevěné boxy na hračky, krabičky na čaje nebo třeba organizéry a vybavení do kanceláře

            a.categories-single(href="/produkt-vypis.html")
                img.lazyload(src="img/load-symbol.svg" data-src="img/category-thumb-medium.png" alt="" title="")
                .categories-single__content
                    h3.categories-single__link Dřevěné krabičky
                    p.categories-single__text Dřevěné boxy na hračky, krabičky na čaje nebo třeba organizéry a vybavení do kanceláře

            a.categories-single(href="/produkt-vypis.html")
                img.lazyload(src="img/load-symbol.svg" data-src="img/category-thumb-medium.png" alt="" title="")
                .categories-single__content
                    h3.categories-single__link Dřevěné krabičky
                    p.categories-single__text Dřevěné boxy na hračky, krabičky na čaje nebo třeba organizéry a vybavení do kanceláře

